asgiref==3.8.1
cffi==1.17.1
cryptography==45.0.3
Django==5.1.5
git-filter-repo==2.47.0
numpy==2.1.2
pillow==11.0.0
pycparser==2.22
pygame==2.6.1
PyMySQL==1.1.1
PyOpenGL==3.1.7
sqlparse==0.5.3
tzdata==2024.2
